@using X.PagedList.Mvc;
@using X.PagedList; 
<html>

<body>

    @{ Html.RenderPartial("_HeaderNav"); }

    <center>
        <h1><u>Top News</u></h1>
    </center>

    <div class="container">
        <div class="row">
            @{ var eindex = @ViewBag.article.Count; } 
            @for(var i = 0; i < eindex ; i++)
            {
           var id= @ViewBag.article[@i].UID; 
            <div class="col-sm-12 ">
                <div class="panel-primary">
                    <div class="post-title">
                        <a href="/Home/News/@id" target="_blank">
                            <h2>
                                @ViewBag.article[@i].Title
                            </h2>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <img src=@ViewBag.article[@i].URL class="img-responsive" style="width:100%" alt="Image">
                        </div>

                        <div class="col-sm-6">
                            <p>
                                @ViewBag.article[@i].ArticleDesc
                            </p>
                        </div>

                        <a href="/Home/News/@id" class="button button-style button-anim fa fa-long-arrow-right">
              <span>Read More</span>
                 </a>


                    </div>

                </div>
                <div>Category : @ViewBag.article[@i].CategoryType &nbsp;&nbsp;&nbsp;&nbsp;Date : @ViewBag.article[@i].Date
                </div>
                @Html.Raw("<br>")
                @Html.Raw("<hr />")
        </div>


        }
    </div>

    </div>
   <center>
@Html.PagedListPager((IPagedList)ViewBag.Article , id => Url.Action("Index", new { id }))
</center>
     @{ Html.RenderPartial("_FooterNav"); }
</body>

</html>